* {
    margin: 0;
    padding: 0;
    outline: none;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background: #c7c9c7;


  }
  .items{
    background-color: rgb(228, 236, 236);
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
   
  }
  